:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*---Header---*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
  color: var(--title-text-color);
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
.site-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: inherit;
  color: var(--title-text-color);
}
.site-nav-item:hover,
.site-nav-item:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: inherit;
  color: var(--primary-text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/*---Hero---*/
.hero,
.adress {
  background-color: #2f303a;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.main-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}

/*---Main-text---*/
.text,
.member-list-description {
  background-color: var(--main-background-color);
}
.main-text-themes {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.main-text-features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.description-title,
.members-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.members {
  background-color: #f5f4fa;
}
.members-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.members-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/*---Footer---*/
.adress-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.map {
  color: #ffffff;
}

.logo-footer {
  color: #ffffff;
  background-color: #2f303a;
}

/*---Portfolio---*/

.galery-list-button:hover,
.galery-list-buttons:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}
.galery-list-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  border: 0;
}

.galery-images-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.galery-images-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.galery-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
